main {
    display: flex;
}

.left-side {
    border: black 1px solid;
    background-image: url("../images/daniel-j-schwarz-UCoUdQ5dFTU-unsplash.jpg");
    background-size: cover;
}

.right-side {
    border: black 1px solid;
}